.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0 auto;
  font-family: "Inter", Arial, sans-serif;
  font-size: 16px;
  line-height: 20px;
}

.header {
  background-color: #ffffff;
  background-image: url("../images/background_header.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 100vh;
  min-height: 720px;
  max-height: 800px;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.nav__logo {
  width: 105px;
  height: 39px;
  margin-top: 30px;
  margin-left: 30px;
  position: relative;
}

.nav__links {
  margin: 0;
  margin-top: 30px;
  margin-right: 80px;
  padding: 0;
  display: flex;
  justify-content: space-between;
  column-gap: 20px;
}

.nav__link {
  list-style-type: none;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
}

.header__title {
  margin: 0;
  margin-top: 183px;
  margin-left: 80px;
  max-width: 709px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 58px;
  line-height: 72px;
  letter-spacing: -1px;
}

.header__title span {
  font-family: "Noto Serif";
  font-style: italic;
  font-weight: normal;
  font-size: 58px;
  line-height: 72px;
  color: #2f80ed;
}

.header__description {
  margin-top: 0;
  margin-left: 80px;
  max-width: 683px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
}

.header__image {
  width: 646px;
  height: 568px;
  top: 124px;
  right: 5px;
  position: absolute;
  background-image: url("../images/inside_coffee_shop.png");
  background-size: contain;
}

.header__footer {
  margin: auto 80px 40px 80px;
  display: flex;
  justify-content: space-between;
}

.header__footer p {
  margin: 0;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #838383;
}

.header__footer div {
  margin-top: auto;
}

.recipes {
  height: 100vh;
  background-color: #0a2850;
  background-image: url("../images/background_recipes.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.recipes__title {
  margin: 0;
  margin-left: 80px;
  max-width: 580px;
  box-sizing: border-box;
  padding-top: 100px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 44px;
  line-height: 52px;
  color: #ffffff;
}

.recipes__subtitle {
  margin: 0;
  margin-left: 80px;
  max-width: 438px;
  margin-top: 24px;
  font-family: "Noto Serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

.recipes__videos {
  margin: 80px auto 0;
  display: flex;
  justify-content: center;
  column-gap: 40px;
}

.recipes__iframe {
  width: 480px;
  height: 273px;
}

.recipes__video-caption {
  margin-top: 24px;
  width: 480px;
  display: flex;
  justify-content: space-between;
}

.recipes__video-caption p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  color: #ffffff;
}

@media (min-width: 1600px) {
  .page {
    width: 100%;
    margin: 0 auto;
  }
}
